@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "fontbold";
  src: url("/Fonts/ClashDisplay-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fontreg";
  src: url("/Fonts/ClashDisplay-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fontmed";
  src: url("/Fonts/ClashDisplay-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.fontbold{
  font-family: "fontbold";
}
.fontmed{
  font-family: "fontmed";
}
.fontreg{
  font-family: "fontreg";
}
